USE [master]
GO
/****** Object:  Database [EWM_Db]    Script Date: 28/03/2026 16:58:44 ******/
CREATE DATABASE [EWM_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EWM_Db', SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EWM_Db_log', SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EWM_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EWM_Db]
GO
/****** Object:  Table [dbo].[Bin]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bin](
	[bin_id] [int] IDENTITY(1,1) NOT NULL,
	[location_in_warehouse] [nvarchar](max) NOT NULL,
	[status_int] [int] NOT NULL,
	[warehouse_id] [int] NOT NULL,
 CONSTRAINT [PK_Bin] PRIMARY KEY CLUSTERED 
(
	[bin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C_C]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_C](
	[component_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK_C_C] PRIMARY KEY CLUSTERED 
(
	[component_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[metadata_json] [nvarchar](max) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[unit_price] [float] NOT NULL,
 CONSTRAINT [PK_Component] PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentBin]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentBin](
	[component_bin_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [float] NOT NULL,
	[component_id] [int] NOT NULL,
	[bin_id] [int] NOT NULL,
 CONSTRAINT [PK_ComponentBin] PRIMARY KEY CLUSTERED 
(
	[component_bin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentCategory]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentCategory](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ComponentCategory] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [nvarchar](320) NULL,
	[address] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinishedTransferRequestComponent]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishedTransferRequestComponent](
	[finished_transfer_request_component_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[bin_id] [int] NOT NULL,
	[quantity] [float] NOT NULL,
	[type_int] [int] NOT NULL,
 CONSTRAINT [PK_FinishedTransferRequestComponent] PRIMARY KEY CLUSTERED 
(
	[finished_transfer_request_component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferRequest]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferRequest](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[type_int] [int] NOT NULL,
	[creation_time] [datetime] NOT NULL,
	[execution_time] [datetime] NULL,
	[status_int] [int] NOT NULL,
	[creator_id] [int] NOT NULL,
	[approver_id] [int] NULL,
	[warehouse_from_id] [int] NULL,
	[warehouse_to_id] [int] NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_TransferRequest] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferRequestComponent]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferRequestComponent](
	[transfer_request_component_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[quantity] [float] NOT NULL,
	[unit_price] [float] NOT NULL,
 CONSTRAINT [PK_TransferRequestComponent] PRIMARY KEY CLUSTERED 
(
	[transfer_request_component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[U_R]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U_R](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_U_R] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](25) NOT NULL,
	[display_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](320) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[status_int] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 28/03/2026 16:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[physical_location] [nvarchar](max) NOT NULL,
	[image_url] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bin]  WITH CHECK ADD  CONSTRAINT [FK_Bin_Warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[Warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[Bin] CHECK CONSTRAINT [FK_Bin_Warehouse]
GO
ALTER TABLE [dbo].[C_C]  WITH CHECK ADD  CONSTRAINT [FK_C_C_Component] FOREIGN KEY([component_id])
REFERENCES [dbo].[Component] ([component_id])
GO
ALTER TABLE [dbo].[C_C] CHECK CONSTRAINT [FK_C_C_Component]
GO
ALTER TABLE [dbo].[C_C]  WITH CHECK ADD  CONSTRAINT [FK_C_C_ComponentCategory] FOREIGN KEY([category_id])
REFERENCES [dbo].[ComponentCategory] ([category_id])
GO
ALTER TABLE [dbo].[C_C] CHECK CONSTRAINT [FK_C_C_ComponentCategory]
GO
ALTER TABLE [dbo].[ComponentBin]  WITH CHECK ADD  CONSTRAINT [FK_ComponentBin_Bin] FOREIGN KEY([bin_id])
REFERENCES [dbo].[Bin] ([bin_id])
GO
ALTER TABLE [dbo].[ComponentBin] CHECK CONSTRAINT [FK_ComponentBin_Bin]
GO
ALTER TABLE [dbo].[ComponentBin]  WITH CHECK ADD  CONSTRAINT [FK_ComponentBin_Component] FOREIGN KEY([component_id])
REFERENCES [dbo].[Component] ([component_id])
GO
ALTER TABLE [dbo].[ComponentBin] CHECK CONSTRAINT [FK_ComponentBin_Component]
GO
ALTER TABLE [dbo].[FinishedTransferRequestComponent]  WITH CHECK ADD  CONSTRAINT [FK_FinishedTransferRequestComponent_Bin] FOREIGN KEY([bin_id])
REFERENCES [dbo].[Bin] ([bin_id])
GO
ALTER TABLE [dbo].[FinishedTransferRequestComponent] CHECK CONSTRAINT [FK_FinishedTransferRequestComponent_Bin]
GO
ALTER TABLE [dbo].[FinishedTransferRequestComponent]  WITH CHECK ADD  CONSTRAINT [FK_FinishedTransferRequestComponent_Component] FOREIGN KEY([component_id])
REFERENCES [dbo].[Component] ([component_id])
GO
ALTER TABLE [dbo].[FinishedTransferRequestComponent] CHECK CONSTRAINT [FK_FinishedTransferRequestComponent_Component]
GO
ALTER TABLE [dbo].[FinishedTransferRequestComponent]  WITH CHECK ADD  CONSTRAINT [FK_FinishedTransferRequestComponent_TransferRequest] FOREIGN KEY([request_id])
REFERENCES [dbo].[TransferRequest] ([request_id])
GO
ALTER TABLE [dbo].[FinishedTransferRequestComponent] CHECK CONSTRAINT [FK_FinishedTransferRequestComponent_TransferRequest]
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequest_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[TransferRequest] CHECK CONSTRAINT [FK_TransferRequest_Customer]
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequest_User_Approver] FOREIGN KEY([approver_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[TransferRequest] CHECK CONSTRAINT [FK_TransferRequest_User_Approver]
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequest_User_Creator] FOREIGN KEY([creator_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[TransferRequest] CHECK CONSTRAINT [FK_TransferRequest_User_Creator]
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequest_Warehouse_From] FOREIGN KEY([warehouse_from_id])
REFERENCES [dbo].[Warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[TransferRequest] CHECK CONSTRAINT [FK_TransferRequest_Warehouse_From]
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequest_Warehouse_To] FOREIGN KEY([warehouse_to_id])
REFERENCES [dbo].[Warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[TransferRequest] CHECK CONSTRAINT [FK_TransferRequest_Warehouse_To]
GO
ALTER TABLE [dbo].[TransferRequestComponent]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequestComponent_Component] FOREIGN KEY([component_id])
REFERENCES [dbo].[Component] ([component_id])
GO
ALTER TABLE [dbo].[TransferRequestComponent] CHECK CONSTRAINT [FK_TransferRequestComponent_Component]
GO
ALTER TABLE [dbo].[TransferRequestComponent]  WITH CHECK ADD  CONSTRAINT [FK_TransferRequestComponent_TransferRequest] FOREIGN KEY([request_id])
REFERENCES [dbo].[TransferRequest] ([request_id])
GO
ALTER TABLE [dbo].[TransferRequestComponent] CHECK CONSTRAINT [FK_TransferRequestComponent_TransferRequest]
GO
ALTER TABLE [dbo].[U_R]  WITH CHECK ADD  CONSTRAINT [FK_U_R_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[U_R] CHECK CONSTRAINT [FK_U_R_Role]
GO
ALTER TABLE [dbo].[U_R]  WITH CHECK ADD  CONSTRAINT [FK_U_R_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[U_R] CHECK CONSTRAINT [FK_U_R_User]
GO
USE [master]
GO
