<h2>📥 Danh Sách Đơn Nhập</h2>
<button onclick="location.href='home.html'">⬅ Back</button>
<table border="1" width="100%">
    <thead>
        <tr><th>ID</th><th>Mô tả</th><th>Ngày tạo</th><th>Kho nhận</th></tr>
    </thead>
    <tbody id="body"></tbody>
</table>

<script>
    const BASE = "https://localhost:7297/api/storekeeper";

    async function load() {
        const res = await fetch(BASE + "/transfer-reqs/1", { credentials: "include" });
        const json = await res.json();
        json.data.forEach(r => {
            body.innerHTML += `
<tr>
<td>${r.transferId}</td>
<td>${r.description}</td>
<td>${r.creationDate}</td>
<td>${r.warehouseToId}</td>
</tr>`;
        });
    }
    load();
</script>